// Regular
@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: local('Roboto-Regular'),
  local('Roboto'),
  url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2');
}

// Bold
@font-face {
  font-family: 'Roboto';
  font-display: swap;
  font-weight: bold;
  src: local('Roboto-Bold'),
  url('../fonts/Roboto/Roboto-Bold.woff2') format('woff2');
}

